
@page "/students"

@namespace BlazorAppServer
@* @inject IStringLocalizer<StudentResources> localizer *@
<h3>Students</h3>
<br>
<div style="background-color: rgb(175, 173, 170); display: inline-block; border-radius: 15px; padding: 10px 10px 0px 10px;">
    @if(editmode)
    {
        <p><b>Edit Student</b></p>
    }
    else
    {
        <p><b>Add New Student</b></p>
    }
</div>
@if (student is not null)
{
    <EditForm Model="@student" OnValidSubmit="@( async ()=> await HandleValidSubmit() )">

        <FluentValidationValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label for="name" class="form-label"> Name: </label>
            <InputText class="form-control" id="name" @bind-Value="@student.Name" placeholder="Enter your name" />
            <ValidationMessage For="@(() => student.Name)" />
        </div>
        <div class="mb-3">
            <label for="mobile" class="form-label">Mobile:</label>
            <InputText class="form-control" id="mobile" @bind-Value="@student.Mobile" placeholder="Enter your modile" />
            <ValidationMessage For="@(() => student.Mobile)" />
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <InputText type="email" class="form-control" id="email" @bind-Value="@student.Email" placeholder="Enter your email" />
            <ValidationMessage For="@(() => student.Email)" />
        </div>

        <div class="mb-3">
            <label class="form-label">Age:</label>
            <InputNumber class="form-control" @bind-Value="@student.Age" />
            <ValidationMessage For="@(() => student.Age)" />
        </div>

        <ValidationSummary />

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-warning" @onclick="@( ()=> Clear() )">Clear</button>
    </EditForm>
}

<div class="container mt-5">
    <h1>Registered Students</h1>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Student item in students ?? new())
            {
                @* <Modal @ref="modalComponent" Id="@Guid.NewGuid()" ModalTitle="delete" Message="are you sure" OnSave="()=>DeleteStudent(item)" /> *@
                <tr>
                    <td scope="col">@item.Name</td>
                    <td scope="col">@item.Mobile</td>
                    <td scope="col">@item.Email</td>
                    <td scope="col">@item.Age</td>
                    <td scope="col">
                        <a href="javascript:void(0)" onclick="@( ()=> EditStudent(item) )" class="m-1"><i class="bi bi-pencil-fill"></i> </a>
                        <a href="javascript:void(0)" onclick="@( ()=>DeleteStudent(item) )" class="m-1"><i class="bi bi-trash3 text-danger "></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


